h2 {
  font-family: var(--font-prata);
  font-size: 40px;
  font-weight: var(--font-weight-normal);
  line-height: 72px;
  text-align: center;
  color: var(--color-primaria);
}

span {
  display: block;
  margin: 0 auto 64px;
  width: 64px;
  border-bottom: 4px solid var(--color-primaria);
}
