section {
  display: flex;
  flex-direction: column;
  padding: 48px 160px;

  h3 {
    font-family: var(--font-prata);
    font-size: 28px;
    font-weight: var(--font-weight-normal);
    line-height: 38px;
    text-align: center;
  }

  span {
    width: 32px;
    display: block;
    margin: 0 auto;
    border-bottom: 4px solid var(--color-primaria);

    &.romance {
      border-bottom: 4px solid #82CFFA;
    }

    &.misterio {
      border-bottom: 4px solid #A6D157;
    }

    &.fantasia {
      border-bottom: 4px solid #E06B69;
    }

    &.ficcao-cientifica {
      border-bottom: 4px solid #DB6EBF;
    }

    &.tecnicos {
      border-bottom: 4px solid #FF8A29;
    }
  }

  .no-books img {
    width: 150px;
    margin-top: 8px;
    opacity: 0.8;

  }

  .no-books {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    color: #3b3b3b;
    font-size: 20px;
  }


  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  &.romance {
    background-color: #E8FFFF;
  }

  &.misterio {
    background-color: #E9FFE3;
  }

  &.ficcao-cientifica {
    background-color: #FFF0FA;
  }

  &.fantasia {
    background-color: #FFE3E3;
  }

  &.tecnicos {
    background-color: #FFF1E4;
  }
}
