section {
  display: flex;
  flex-direction: column;
  padding: 48px 160px;

  h3 {
    font-family: var(--font-prata);
    font-size: 28px;
    font-weight: var(--font-weight-normal);
    line-height: 38px;
    text-align: center;
  }

  span {
    width: 32px;
    display: block;
    margin: 0 auto;
    border-bottom: 4px solid var(--color-primaria);
  }

  .no-books img {
    width: 150px;
    margin-top: 8px;
    opacity: 0.8;

  }

  .no-books {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    color: #3b3b3b;
    font-size: 20px;
  }


  div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
